body {
  font-family: "Roboto", sans-serif;
  height: 100vh; /* Subtract a fixed amount (e.g., 100px) */

}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
}

.mt-custom {
  margin-top: 100px; /* Adjust the value as needed */
}

.heading {
  font-size: 4rem;
  color: #343a40;
  margin-bottom: 1rem;
  font-weight: 600;
  display: block;
  line-height: 1;
  margin: 0;
}

.subheading {
  font-size: 3rem;
  margin-bottom: 2rem;
  font-weight: 600;
  display: block;
  line-height: 1;
}

.description {
  font-size: 1.2rem;
  color: #495057;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.typing-animation {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity));
}
.resume-button {
  background-color: #007bff; /* Blue color for the button */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius for rounded corners */
  font-size: 16px; /* Adjust font size as needed */
  cursor: pointer; /* Show pointer cursor on hover */
  margin-top: 20px;
}


@keyframes blink {
  50% {
    border-right-color: transparent;
  }
}
  
.typing-animation::after {
  content: '|';
  animation: blink 0.5s infinite alternate;
}
  